<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        BlogDev
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categoria/">
                Categorias
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/artigo/">
                Artigos
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/deslogar">
                Sair
            </a>
        </li>
    </ul>
</nav>




