<%- include('../../partials/header') %>

<%- include('../../partials/navbar') %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Cadastrar usuario</h2>
        </div>

        <div class="card-body">
            <form action="/usuarios/criar" method="POST">
                <input class="form-control" type="email" name="email" placeholder="Digite seu email"> <br>
                <input class="form-control" type="password" name="senha" placeholder="Digite sua senha *******"> <br>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>