
body{
    background-color: #323232;
    color: #fff;
}

.container{
    max-width: 500px;
    height: 50vh;
}

.container h1, h2, th, td{
    color: #fff;
}

.container .card {
   margin-top: 20px;
}

.container .card h3{
color: #000;    
font-size: 20px;
}

.container .card-body {
    color: #000;
}

.container .card-header h2 {
    color: #000;
}

.btn{
    font-size: 14px;
}

.navbar-nav{
    flex-direction: row;
}

.navbar-nav li{
    padding-left: 20px;
}

.row .col a{
    float: right;
    background-color: #8e8e8e;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 0 25px 0;
    padding: 5px;
    text-decoration: none;
    transition: all .6s;
}

.row .col a:hover{
    background-color: #1c1c1c;
}

.row .col a.ant{
    float: left;
}






